#article ul li {
    width: 140%;
	margin-bottom:20px;
	margin-left:20px;
	height:60%;
    padding: 6px;
    display: inline-block;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}
.container {
    /* max-width: 90%; */
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    /* background: rgba(0, 0, 0, .5); */
    float: center;
}
