*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{min-height: 100%;} 

body {
    min-height: 100%;
    background: #fff;
    color: rgba(255, 255, 255, 0.4);
    background: #222;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300; 
}
/*heading*/

nav{
    background:black;
    height:80px;
    width:100%;
    position:fixed;
}
label.heading{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    text-transform: uppercase;
    padding:7px 13px;
    border-radius: 3px;
    text-decoration:none;
}
a.active,a:hover{
    background:#ca2626;
    transition:.5s;
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}
.main{
    min-height: 90vh;
}
/*sections blog and portofolio*/
section {
    float: center;
    padding-top: 80px;
}
.flex{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.row{
    padding:5px;
}

/* cards */
.card{
    box-shadow:4px 5px 16px #5c5b5b;
    border:0.5px solid #2c2a2a;
    padding:5px 5px 5px 10px;
    border-radius:4px;
    position: relative;
    margin-top:10px;
}
.card::first-child{
    margin-top:0px;
}
.card.elevation-0{
    box-shadow:none !important;
}
.card-lg{
    width:100%;
}
.card-md{
    width:45%;
}
.card-sm{
    width:24%;
}
.card-body{
    width:100%;
    font-family:calibri;
    font-size:19px;
    height:auto;
    margin-top:17px;
}
.card.has-actions{
    padding-bottom:20px;
}
.card > .card-actions{
    position: absolute;
    text-decoration: none;
    width:100%;
    left:0px;
    bottom:0px;
    padding:5px;
    color:#ece7e7;
    display:flex;
    justify-content:space-evenly;
}
.card-action::first-child{
    margin-left:0px;
    text-decoration: none;
}
.card-action{
    font-size:14px;
    padding:2px;
}.card-action:hover{
    cursor:pointer;
    
}
/* endof cards */
img{
    width:100%;
    height:auto;
}

/*profile photo*/


/*buttons*/
            
.button {
    background: #026aa7;
    color: white;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    
}

h2{
    text-align: center;
    color:white;
}
h3{
    text-align: center;
    color:white;
}
#services,#blog,#portofolio{
    text-align: center;
    min-height: 80vh;
    display:flexbox;
    
}



.blog-content,
    .services-container{
    margin-left: 6%;
    width: 40%;
    padding: 6px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: left;
    margin-left: 2%;


}
.subscribe{
    background-color: #0C0C0D;
    text-align: center;
    
}
.sub-update{
    padding-bottom: 20px;
}
.inputs{
    width: 50%;
    padding: 12px 20px; 
    border-radius: 8px;
}

#contact{
    margin-left: 6%;
}
.input-type,.message{
    width: 50%;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 2%;
}
#footer{
    bottom:0;
    width:100%;
    background: #0C0C0D;
}

.social-media{
    text-align: center;
}
.social-media a{
    text-decoration: none;
}


footer {
    clear: both;
    color: #ffff;
    text-align: center;
}

@media (max-width:940px){
    label.heading{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
    
}
@media (max-width:1024px){
    label.heading{
        font-size:25px;
        padding-left:30px;
    }
    nav ul li a{
        font-size:10px;
    }
}

@media (max-width:375px){
    label.heading{
        font-size:95%;
        padding-left:5px;
    }
    nav ul li a{
        font-size:4%;
    }
    h2{
        font-size:90%;
    }
    h3{
        font-size:80%;
    }
    .service-content{
        font-size:70%;
    }
}


@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:80px;
        left:-100%;
        text-align:center;
    }
    nav ul li{
        display:block;
        margin:50px;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a.active{
        background:none;
        
    }
    #check:checked ~ ul{
        left:0;
    }
}